// COLORS
$primary: #3c39e6;
$secondary: #0c084c;

$success: #5dc0a6;
$warning: #ffaf65;
$danger: #e42c64;
$info: #0075f6;

$black: #000;
$white: #fff;

// Grey Variations
$gray-100: #FAFBFE;
$gray-200: #9A9A9A;
$gray-300: #666666;
$gray-400: #333333;
$gray-500: #222222;


// Typography
$font: "Poppins", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font: 15px;


// Border
$thin-border: 1px solid $gray-100;

// Base
$header: 65px;
$sidebar: 280px;
$marketPlace: 280px;